.contact-top{
    position: relative;
    background-image: url('../images/purchase.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px; 
    width: 100%;
    text-align: center;
    display: table;

    .contact-relative{
        position: absolute;
        width: 100%;
    }

    .contact-content{
        text-align: center;
        width: 500px;
        margin: 0 auto;
        margin-top: 200px;

        @media screen and (max-width: 570px){
            width: 100%;
        }

        .contact-top-text{
            font-weight: 300;
            color: #ffffff;
            margin-bottom: 30px;
            font-size: 22px;
            line-height: 27px;

            a{
                color: white;
                font-weight: 600;
            }
        }

        .contact-title{
            letter-spacing: -1px;
            font-weight: 600;
            color: #ffffff;
            margin-bottom: 45px;
            font-size: 50px;
            line-height: 55px;
        }
        
        .contact-btn{
            font-size: 13px;
            border-radius: 50px;
            padding: 12px 38px;
            color: #000;
            font-weight: 600;
            background-color: #fff;
            margin: 5px;
            transition: 0.3s;

            &:hover{
                background-color: black;
                color: white;

                .fa-solid{
                    color: white;
                }
            }

            .fa-solid{
                margin-left: 7px;
                color: #ff214f;
            }
        }
    }
}

.contact{
    margin-top: 50px;
    margin-top: 40px;

    .contact-items{
        display: flex;
        width: 1200px;
        margin: 0 auto;
        justify-content: space-around;

        @media screen and (max-width: 1230px){
            width: 100%;
        }

        @media screen and (max-width: 900px){
            flex-direction: column;
        }

        .contact-item{

            &:first-child{
                padding-right: 20px;
            }

            padding: 20px;
            
            .contact-box{
                padding: 40px 0px 35px 40px;
                border-radius: 10px;
                background-color: #F9F9F9;
                margin-bottom: 20px;
                display: flex;

                .box-icon{
                    margin-right: 15px;
                    color: #ff214f;
                }

                .box-text{
                    font-size: 18px;
                    margin-bottom: 5px;
                    display: flex;
                    flex-direction: column;
                    width: 70%;

                    .box-title{
                        font-weight: 600;
                        color: black;
                        margin-bottom: 5px;
                    }

                    span{
                        color: #6f6f6f;
                        width: 90%;
                        font-size: 15px;
                    }
                }
            }

            .contact-title{
                font-size: 54px;
                margin-bottom: 35px;
                color:black;
                font-weight: 700;
            }

            button{
                font-size: 13px;
                border-radius: 50px;
                padding: 12px 38px;
                color: #000;
                font-weight: 600;
                background-color: #ff214f;
                transition: 0.3s;
                border: 2px solid #ff214f;
    
                &:hover{
                    color: black;
                    background-color: white;
    
                    .fa-solid{
                        color: #ff214f;
                    }
                }
    
                .fa-solid{
                    margin-left: 7px;
                    color: #fff;
                }
            }
        }
    }
}